@import "tailwindcss";

/*Amiamie Regular*/
@font-face {
  font-family: "Amiamie";
  src: url("/fonts/amiamie/otf/Amiamie-Regular.otf") format("opentype");
  src: url("/fonts/amiamie/ttf/Amiamie-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Amiamie Regular Italic */
@font-face {
  font-family: "Amiamie";
  src:
    url("/fonts/amiamie/otf/Amiamie-Italic.otf") format("opentype"),
    url("/fonts/amiamie/ttf/Amiamie-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

/*Amiamie Light*/
@font-face {
  font-family: "Amiamie";
  src:
    url("/fonts/amiamie/otf/Amiamie-Light.otf") format("opentype"),
    url("/fonts/amiamie/ttf/Amiamie-Italic.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/* Amiamie Light Italic */
@font-face {
  font-family: "Amiamie";
  src:
    url("/fonts/amiamie/otf/Amiamie-LightItalic.otf") format("opentype"),
    url("/fonts/amiamie/ttf/Amiamie-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

/* Amiamie Black */
@font-face {
  font-family: "Amiamie";
  src:
    url("/fonts/amiamie/otf/Amiamie-Black.otf") format("opentype"),
    url("/fonts/amiamie/ttf/Amiamie-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

/* Amiamie Black Italic */
@font-face {
  font-family: "Amiamie";
  src:
    url("/fonts/amiamie/otf/Amiamie-BlackItalic.otf") format("opentype"),
    url("/fonts/amiamie/ttf/Amiamie-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

/*Amiamie: Round Variants*/
@font-face {
  font-family: "Amiamie-Round";
  src:
    url("/fonts/amiamie/otf/Amiamie-RegularRound.otf") format("opentype"),
    url("/fonts/amiamie/ttf/Amiamie-RegularRound.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Amiamie-Round";
  src:
    url("/fonts/amiamie/otf/Amiamie-BlackRound.otf") format("opentype"),
    url("/fonts/amiamie/ttf/Amiamie-BlackRound.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Amiamie-Round";
  src:
    url("/fonts/amiamie/otf/Amiamie-BlackItalicRound.otf") format("opentype"),
    url("/fonts/amiamie/ttf/Amiamie-BlackItalicRound.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@theme {
  --color-primary: white;
  --color-secundary: black;
  --color-MonoRed: #ec0000;
  --color-MonoBlue: #2a466b;
  --font-amiamie: "Amiamie", sans-serif;
  --font-amiamie-round: "Amiamie-Round", sans-serif;

  --animate-marquee: marquee 40s infinite linear;

  @keyframes marquee {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - var(--gap)));
    }
  }
}

body {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background: var(--color-primary);
  color: var(--color-secundary);
  cursor: crosshair;
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-family: var(--font-amiamie);
  user-select: none;
}

.screen-max-width {
  margin-inline-start: auto;
  margin-inline-end: auto;
  position: relative;
  max-width: 1280px;
}

/* From Uiverse.io by neerajbaniwal */
.start-btn {
  position: relative;
  padding: 12px 48px;
  color: white;
  background: white;
  /* linear-gradient(to right, white 0, #ee0000 10%, white 15%); */
  background-position: 0;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 0.75s steps(1) infinite;
  animation-fill-mode: forwards;
  -webkit-text-size-adjust: none;
  font-weight: 600;
  font-size: 25px;
  text-decoration: none;
  white-space: nowrap;
}
@keyframes shine {
  0% {
    background-color: var(--color-primary);
  }
  50% {
    background-color: var(--color-MonoRed);
  }
  100% {
    background-color: var(--color-primary);
  }
}

.swiper-pagination {
  @apply w-auto! bottom-0! left-[50%]! -translate-x-[50%] flex px-4 py-3 lg:py-4;
}

.swiper-slide {
  @apply h-auto!;
}

.swiper-pagination-bullet {
  @apply bg-primary! h-5! w-5!;
}

@layer components {
  .button {
    @apply px-8 py-3 button-hover2 flex justify-center items-center backdrop-blur-md bg-MonoRed border border-white/20 text-white z-0 mx-auto cursor-pointer sm:py-4;
  }
  .button2 {
    @apply px-8 py-3 button-hover2 flex justify-center items-center backdrop-blur-md bg-white/5 border border-white/20 text-white z-0 mx-auto cursor-pointer sm:py-4;
  }
}

@utility common-padding {
  @apply px-5 sm:px-10 py-21 sm:py-30;
}

@utility flex-center {
  @apply flex justify-center items-center;
}

@utility clip-path {
  clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
}

@utility banner-h1-responsive {
  @apply w-full text-[100px] sm:text-[130px] md:text-[150px] lg:text-[170px] leading-26 sm:leading-32 lg:leading-38 lg:mb-3;
}

@utility banner-text-responsive {
  @apply w-2/3 sm:w-140 flex flex-col sm:flex-row sm:justify-between text-[28px] sm:text-[30px] md:text-[32px];
}

@utility banner-text-animation {
  @apply group-hover:opacity-40 hover:opacity-100! hover:text-primary hover:scale-120 transition-all duration-200 ease-in-out;
}

@utility button-text-responsive {
  @apply text-[14px] sm:text-lg lg:text-[20px] leading-6;
}

@utility button-hover {
  @apply hover:bg-none hover:border-MonoRed/50 hover:scale-103 transition-all duration-200;
}

@utility button-hover2 {
  @apply hover:bg-MonoRed/5 hover:border-MonoRed/50 hover:scale-103 transition-all duration-200;
}

@utility start-hover {
  @apply group-hover:px-1 transition-all duration-150;
}

@utility highlights-h1-responsive {
  @apply text-[32px] md:text-[58px] lg:text-[65px] 2xl:text-[8em] md:leading-15 lg:leading-32 tracking-[-0.06em];
}

@utility reviews-p-responsive {
  @apply text-sm sm:text-[16px] md:text-lg lg:text-[19px] leading-relaxed;
}

@utility programas-h1-responsive {
  @apply text-[45px] sm:text-6xl md:text-7xl lg:text-[100px] xl:text-[85px] 2xl:text-[11em] mb-5 xl:mb-0 text-black uppercase font-medium tracking-[-0.06em];
}

@utility programas-group-hover {
  @apply md:group-hover:px-2 2xl:group-hover:px-10 md:group-hover:text-zinc-50 transition-all duration-250;
}

@utility imgCarousel-container {
  @apply relative h-[35vh] sm:h-[50vh] md:h-[70vh] w-full;
}

@utility textCarousel-container {
  @apply relative h-[35vh] sm:h-[35vh] w-full sm:w-3/4 lg:w-3/5 xl:w-1/2;
}
